/*my custom css*/
.mod-inline-30-percent{
    display: inline;
    width: 30%;
}

.mod-margin-bottom-11 {
    margin-bottom: 11px;
}

.mod-margin-right-12 {
    margin-right: 12px;
}

.mod-max-width-95-precent{
    max-width: 95%;
}

.mod-max-width-50-precent{
    max-width: 50%;
}

.mod-td-table-small{
    width: 15px;
    word-break: break-all;
    text-align: left;
}

/* Add these styles to handle long text */
.mod-td-table-small,
td {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

/*my custom css*/