/*my custom css*/
.mod-inline-30-percent{
    display: inline;
    width: 30%;
}

.mod-margin-bottom-11 {
    margin-bottom: 11px;
}

.mod-margin-right-12 {
    margin-right: 12px;
}

.mod-max-width-95-precent{
    max-width: 95%;
}
/*my custom css*/